<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="debug" name="XMLConfig" packages="org.apache.logging.log4j.test">
  <Properties>
    <Property name="filename">target/test.log</Property>
  </Properties>
  <ThresholdFilter level="trace"/>
  
  <Appenders>
  	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{DATE} | %p | %t | %m%n"/>
		</layout>
	</appender>

	<appender name="FILE" class="org.apache.log4j.FileAppender">
		<param name="File" value="c:/temp/app.log"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{DATE} | %p | %t | message: %m%n"/>
		</layout>
	</appender>

    <appender name="UIAPP" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="c:/temp/logs/uiapp.log"/>
		<param name="Append" value="true"/>
		<param name="MaxFileSize" value="10MB"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{DATE} | %p | %t | %m%n"/>
		</layout>
	</appender>
  </Appenders>

  <Loggers>
      <Logger name="org.dwbzen.common" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="STDOUT"/>
	</Logger>
	
    <Logger name="org.dwbzen.music" additivity="false">
		<level value="DEBUG"/>
		<appender-ref ref="STDOUT"/>
	</Logger>

	<Logger name="org.dwbzen.music.cp" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="STDOUT"/>
	</Logger>
	
	<Logger name="org.dwbzen" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="STDOUT"/>
	</Logger>

	<logger name=" org.mongodb" additivity="false">
		<level value="ERROR"/>
		<appender-ref ref="STDOUT"/>
	</logger>
	
    <root>
        <level value="INFO" /> 
		<appender-ref ref="STDOUT"/>
    </root>
  </Loggers>

</Configuration>


