<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{DATE} | %p | %t | %m%n"/>
		</layout>
	</appender>

	<appender name="FILE" class="org.apache.log4j.FileAppender">
		<param name="File" value="c:/temp/app.log"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{DATE} | %p | %t | message: %m%n"/>
		</layout>
	</appender>

    <appender name="UIAPP" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="c:/temp/logs/uiapp.log"/>
		<param name="Append" value="true"/>
		<param name="MaxFileSize" value="10MB"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{DATE} | %p | %t | %m%n"/>
		</layout>
	</appender>

    <logger name="util" additivity="false">
		<level value="WARN"/>
		<appender-ref ref="STDOUT"/>
		<appender-ref ref="FILE"/>
	</logger>

    <logger name="music" additivity="false">
		<level value="DEBUG"/>
		<appender-ref ref="STDOUT"/>
		<appender-ref ref="FILE"/>
	</logger>

    <logger name="music.action" additivity="false">
		<level value="WARN"/>
		<appender-ref ref="STDOUT"/>
		<appender-ref ref="FILE"/>
	</logger>

    <logger name="music.element.song" additivity="false">
		<level value="WARN"/>
		<appender-ref ref="STDOUT"/>
		<appender-ref ref="FILE"/>
	</logger>
	
    <logger name="music.transform" additivity="false">
		<level value="DEBUG"/>
		<appender-ref ref="STDOUT"/>
		<appender-ref ref="FILE"/>
	</logger>

    <logger name="math" additivity="false">
		<level value="WARN"/>
		<appender-ref ref="STDOUT"/>
	</logger>

	<logger name="util.cp" additivity="false">
		<level value="DEBUG"/>
		<appender-ref ref="STDOUT"/>
	</logger>

	<logger name="com" additivity="false">
		<level value="WARN"/>
		<appender-ref ref="STDOUT"/>
	</logger>

	<logger name=" org.mongodb" additivity="false">
		<level value="ERROR"/>
		<appender-ref ref="STDOUT"/>
	</logger>
	
    <root>
        <level value="ERROR" /> 
		<appender-ref ref="STDOUT"/>
    </root>
</log4j:configuration>


